<h1 style="text-align: center; padding-bottom: 5%;">Welcome to Employee Management</h1>

<a class="btn btn-primary" routerLink="add">Add</a>


<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">department</th>
        <th scope="col">craetedAt</th>
        <th scope="col">updateAt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <th scope="row">{{emp.id}}</th>
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.department}}</td>
        <td>{{emp.createdAt}}</td>
        <td>{{emp.updatedAt}}</td>
        <td>
            <div class="d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-success">update</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>

